@charset "utf-8";
/* CSS Document */
div, h1, p{ margin:0; padding:0;}
a{ text-decoration:none;}
h1 {
	font-family:'DINSchriftRegular';
	font-weight:100;
	font-size:2rem;
	letter-spacing:5px;
	}
p{
	font-family:'gotham_mediumregular';
	font-size:0.8rem;
	margin-top:30px;
	}
.collsec{margin:13% auto 0 auto; width:100%; position:relative;}
.collcolumn{float:left; width:49%;}
.collcolumn2{
	float:right; 
	width:49%; 
	text-align:right;	
	font-family:'gotham_mediumregular', sans-serif;
	color:#27313f;
	letter-spacing:2px;
	z-index:20;
	font-size:0.7rem;
	}
.collcolumn2 img{
	display:block;
	float:right;
	clear: right;
	margin-bottom:20px;
	width:100%;
	overflow:hidden;
}
.collcolumn2 .cnp{
	width:50%
}
.collcolumn2 .dl{
	text-align:right;
	margin-bottom:5px;
	color:#333;
	display:block;
	clear:right;
}
.gcoll-left {
	float:left;
	width:30%;
	overflow:hidden;
	padding:0 20px;
	}
.gcoll-left img{
	width:100%;
	}	
.gcoll-right {
	float:right;
	width:64%;
	overflow:hidden;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:600;
	font-size:1.4rem;	
	}
.gcoll-right img{
	width:100%;
	margin-bottom:20px;	
	}	
.gcoll-right .right1{
	float:right;
	width:47%;
	clear:right;
	margin-top:300px;	
	}
.gcoll-right .right2{
	float:right;
	width:47%;
	margin-right: 20px;
	margin-top:100px;	
	}
.gcoll-right .right1:after{
	position:absolute;
	top:13%;
	right:120px;
	content:'[Details	make a difference]';
	}
.collbtn {
	float:right;
	margin:10px 0 0 0;
	text-decoration:none;
	display:block;
	font-family: 'gotham_mediumregular', sans-serif;
	padding:4px 8px;
	color:#fff;
	font-size:10px;
	background:#27313f;
	clear:right;
	text-align:center;
	width:450px;
	}
.collbtn:hover{
	background:none;
	color:#27313f;
	border-bottom: solid 1px #27313f;
	border-top: solid 1px #fff;
	padding:3px 8px;
	-o-transition:color .1s ease-out, background .2s ease-in;
	-ms-transition:color .1s ease-out, background .2s ease-in;
	-moz-transition:color .1s ease-out, background .2s ease-in;
	-webkit-transition:color .1s ease-out, background .2s ease-in;
	}
@media (max-width : 1440px){ }
@media (max-width : 1360px){ }
@media (max-width : 1280px){ }
@media (max-width : 1024px){ }
@media (max-width : 920px) {
	.collsec{margin-top:30% }
	.collcolumn{
	width:90%;
	padding:0 20px;
	margin:35% auto 0 auto;
	}
	.collcolumn2{
	width:90%;
	padding:0 20px;
	margin:0 auto;
	text-align:center;
	}
.collcolumn2 img{
	display:block;
	float:none !important;
	width:100%;
	overflow:hidden;
	margin:40px auto 10px auto !important;
}
.collcolumn2 .dl{
	text-align:center ;
	margin-bottom:5px;
}	
.gcoll-left {
	position:relative;
	width:90%;
	float:none !important;
	margin:0 auto;
	padding:0;
	}
.gcoll-right {
	position:relative;
	width:90%;
	float:none;
	margin:0 auto;
	padding:0;	
	}
.collbtn {
	float:none !important;
	margin:5px auto !important;
	}
.gcoll-right .right1{
	text-align:center;
	float:none;
	width:100%;
	margin-top:20px;	
	}
.gcoll-right .right2{
		text-align:center;
	float:none;
	width:100%;
	margin-top:20px;	
	}				 
	}
}