/*************************************************************************************
COLUMN
*************************************************************************************/
.col {
	text-align:left;
	float: left;
	margin-left: 3.2%;
	margin-bottom: 1px;
}
.col2 {
	text-align:left;
	float: left;
	margin-left: 3.2%;
	margin-bottom: 0px;
}
.col3 {
	width:38%;
	float: left;
	margin-left: 3.2%;
	margin-bottom: 0px;
}
.col4 {
	width:24%;
	float: left;
	margin-left: 3.2%;
	margin-bottom: 0px;
}
.fullwidth .col {
	float: none;
	margin-left: 0;
}
/* grid4 col */
.grid4 .col {
	width: 22.6%;
}
/* grid3 col */
.grid3 .col {
	width: 31.2%;
}
.grid3 .col2 {
	width: 31.2%;
}
/* grid2 col */
.grid2 .col {
	width: 48.4%;
}
/* clear col */
.grid4 .col:nth-of-type(4n+1),
.grid3 .col:nth-of-type(3n+1),
.grid3 .col2:nth-of-type(3n+1),
.grid2 .col:nth-of-type(2n+1)
 {
	margin-left: 0;
	clear: left;
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

/* reset cols to 3-column */
@media screen and (max-width: 740px) {
	/* grid4 */
	.grid4 .col, col2, col3, col4 {
		width: 31.2%;
	}
	.grid4 .col:nth-of-type(4n+1), .col2:nth-of-type(4n+1), .col3:nth-of-type(4n+1), .col4:nth-of-type(4n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid4 .col:nth-of-type(3n+1), .col2:nth-of-type(4n+1), .col3:nth-of-type(4n+1), .col4:nth-of-type(4n+1) {
		margin-left: 0;
		clear: left;
	}
}

/* reset cols to 2-column */
@media screen and (max-width: 600px) {
	/* grid4 */
	.grid4 .col {
		width: 48.4%;
	}
	.grid4 .col:nth-of-type(3n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid4 .col:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}

	/* grid3 */
	.grid3 .col {
		width: 48.4%;
	}
	.grid3 .col2 {
		width: 48.4%;
	}
	.grid3 .col:nth-of-type(3n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid3 .col:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}
}

/* reset cols to fullwidth */
@media screen and (max-width: 600px) {
	/* grid4 */
.col {
		width: 94% !important;
		margin-left: 0 !important;
		clear: none !important;
		padding-left:5px !important;
		
	}
.col2 {
		width: 94% !important;
		margin-left: 0 !important;
		clear: none !important;
		padding-left:5px !important;
	}
.col3 {
	width:90% !important;
	text-align: center !important;
	float: none !important;
	margin: 20px auto 0 auto !important;
}
.col4 {
	width:90% !important;
	float: none !important;
	margin: 0 auto !important;
}
.col4 .contain .cont ul{
	 clear:both;
   float:right;
   margin:20px 0;
   padding:0;
   position:relative;
   right:35%;
   text-align:center;
	}
.footer-nav{
	margin-left:20px;
	float:left;
	clear:both;
	position:relative;
	left:10%;
	text-align:center;
	}
}
