$writing : 'Yaquote Script Personal Use';
$btntext : 'Bebas Neue';
$gold: #c6b15a;
@import 'faq.scss';
@import 'form.scss';


@mixin clearfix{
	&:after{
		content: "";
		clear: both;
		display: block;
		visibility: hidden;
	}
}
.clear{
	width: 100%;
	clear: both;
	display: block;
	visibility: hidden;
}
.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
  }
  &.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  &.fade {
    filter: alpha(opacity = 0);
    opacity: 0;
  }
  &.in {
    filter: alpha(opacity = 50);
    opacity: .5;
  }
}

.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  .close {
    margin-top: -2px;
  }
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
  }
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}



/*======================= login popup ======================*/

.std-popup {
	background-color: rgba(255,255,255,0.8);
	.modal-dialog{
		max-width: 580px;
	}
	.modal-content{
		background-color: #f2f2f2;
		border:2.5px solid $gold;
		border-radius: 0;
		box-shadow: none;
		padding:25px 30px;

	}
	.modal-title {
	    font-family: $writing;
	    color: #1f4396;
	    font-size: 60px;
	    font-weight: 100px;
	    text-align: center;
	}
	.modal-header{
		border-bottom: none;
		position: relative;
		p{
			color: #808285;
			font-size: 14px;
			font-style: italic;
			text-align: center;
		}
		button {
			position: absolute;
			top:-15px;
			right: -15px;
		    border: none;
		    padding: 0;
		    float: right;
		    background: none;
		    font-size: 25px;
		    color:$gold;
		}
		.line-section{
			position: relative;
			border-top:1px solid $gold;
			margin-top: 30px;
			&:before{
				position: absolute;
				width: 9px;
				height: 8px;
				left: -7px;
				top:-10px;
				content: url(../images/addtheme/line-arrow-left.png);

			}
			&:after{
				position: absolute;
				width: 9px;
				height: 8px;
				right: -7px;
				top:-10px;
				content: url(../images/addtheme/line-arrow-right.png);
			}
		}

	}
	.modal-footer{
		border-top: none;
		@include clearfix;
		button{
			display: inline;
			float: right;
			width: auto;
			font-family: $btntext;
		    font-size: 16px;
		    letter-spacing: 3px;
		    text-indent: 3px;
		    padding: 5px;
			margin-left: 15px;
			background-color: $gold;
			color:white;
			border: none;
			box-shadow: none;
		}
	}
}

/*======================= end login popup ======================*/
.text-response{
	text-align: center;
	color: #808285;
	font-size: 16px;
	font-family: 'Source Serif Pro', serif;
	font-style: italic;
	text-align: center;
}
.archer{
	width: 100%;
	display: block;
	height: auto;
	@include clearfix;
	text-align: center;
	padding-top: 70px;
	img{
		display: inline-block;
	}
}
.al-center{
	text-align: center;
	button{
		float: none !important;
		display: inline-block;
	}
}


.filter-group{
	padding-bottom: 15px;
	@include clearfix;
	button,.select-holder{
		display: inline-block;
		float: left;
		margin-left: 5px;
		margin-right: 5px;
	}
	button{
		background-color: #28313f;
		color: white;
		font-size: 10px;
		font-family: Helvetica, Arial;
		font-weight: lighter;
		text-transform: uppercase;
		padding: 6px 8px;
		letter-spacing: 0;
		text-indent: 0;

	}
	.select-holder{
		background-color: #f0f0f0;
		min-width: 90px;
		background-image: url(../images/addtheme/select-arrow.png);
		background-repeat: no-repeat;
		background-position: right center;
		background-position-x: 90%;
		select{
			font-size: 10px;
			font-family: Helvetica, Arial;
			font-weight: lighter;
			width: 100%;
			border:none;
			background:none;
			-webkit-appearance: button;
			-moz-appearance: button;
			-webkit-user-select: none;
			-moz-user-select: none;
			-webkit-padding-end: 10px;
			-moz-padding-end: 10px;
			-webkit-padding-before: 6px;
			-webkit-padding-after: 6px;
			-webkit-padding-start: 8px;
			-moz-padding-start: 8px;

			::-webkit-input-placeholder {

			}
			:-moz-placeholder {

			}
			::-moz-placeholder {

			}
			:-ms-input-placeholder {

			}
		}
	}
}

.img-product-slider{
	position: relative;
	text-align: center;
	margin-bottom: 40px;
	@include clearfix;
	ul{
		margin: 0;
		padding: 0;
	}
	.bx-wrapper{
		.bx-viewport{
			border: none;
			left: auto;
			top:auto;
			box-shadow: none;
			overflow: visible !important;
		}
		.bx-controls-direction{
			display: block;
			text-align: center;
			margin-top: 45px;
			margin-bottom: 5px;
			background-image: url(../images/addtheme/product-slide-bg.png);
			background-position: center center;
			background-repeat: no-repeat;
			a{
				position: relative;
				text-align: center;
				top:2px;
				left: auto;
				right: auto;
				display: inline-block;
				margin-left: 18px;
				margin-right: 18px;
				width: 13px;
				height: 15px;
				margin-top: 0;
			}
		}
		.bx-prev{
			background-image: url(../images/addtheme/product-slide-left.png);
			background-position: center center;
			&:hover{
				background-position: center center;
			}
		}
		.bx-next{
			background-image: url(../images/addtheme/product-slide-right.png);
			background-position: center center;
			&:hover{
				background-position: center center;
			}
		}
	}
	.product-name{
		border: 1px solid #231f20;
		width: auto;
		padding: 10px;
		background-color: white;
		margin: auto;
		position: absolute;
		z-index: 999999;
		top:100%;
		left: 50%;
		margin-top:-25px;
		transform: translate(-50%,0);
	}
}
.img-product-slider-pager{
	@include clearfix;
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		margin-left: -5px;
		margin-right: -5px;
		@include clearfix;
		li{
			display: inline;
			float: left;
			padding: 5px;
			width: 33.33%;
			box-sizing: border-box;
			a{
				display: block;
				overflow: hidden;
				position: relative;
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}
	&.mobile-thumb{
		margin-top: 15px;
		display: none;
		ul{
			li{
				width: 25%;
			}
		}
	}
}

/*================================= Responsive =============================*/
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

@media(max-width:920px){
	/*
	.img-product-slider{
		.product-name{
			position: relative;
			top:auto;
			left: auto;
			transform: none;
			float: left;
			margin: auto;
		}
	}
	*/
	.img-product-slider{
		.product-name{
			width: 80%;
		}
	}
	.img-product-slider-pager{
		display: none;
		&.mobile-thumb{
			display: block;
		}
	}
}
