@charset "utf-8";
a{ text-decoration:none;}
#cont {
	width:100%;
	margin: 17% auto 0 auto;
	padding-bottom:5%;
	height:auto;
	position:relative;
	overflow:hidden
	}/* CSS Document */
.collcolumn{
	float:left;
	width:49%;
	text-align:right;
	font-family:'gotham_mediumregular', sans-serif;
	color:#27313f;
	letter-spacing:2px;
	z-index:20;
	font-size:0.7rem;
	}
.collcolumn img{
	display:block;
	clear:right;
	margin-bottom:20px;
	width:100%;
	overflow:hidden;
	float:right
}
.collcolumn .cnp{
	width:60%
}
.collcolumn .dl{
	text-align:right;
	margin-bottom:5px;
	color:#333;
	display:block;
	clear:right;
	font-size:1rem;
}
.collcolumn2{
	float:right;
	width:49%;
	text-align:right;
	font-family:'gotham_mediumregular', sans-serif;
	color:#27313f;
	letter-spacing:2px;
	z-index:20;
	font-size:0.7rem;
	padding-top:41px;
	}
.collcolumn2 .imgcol{
	display:inline-block;
	float:right;
	margin:0 0 8px 10px;
	width:48.2%;
	overflow:hidden;
}
.collcolumn2 .imgcol img{
	width:100%;
}
/*-------------gallery-----------------*/

.button {
	font-family:'gotham_mediumregular', sans-serif;
	display: inline-block;
	margin:2px;
	padding:4px 10px ;
	border: 0;
	color:#27313f;
	text-decoration: none;
	cursor: pointer;
	font-size:0.6rem ;
	height:20px;
	margin-top:-2px !important;
}
.button:first-child{
	background-color:#27313f;
	color:#fff; letter-spacing:2px;

}
.button:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
 	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	opacity: 0.85;
}

/* grid styles */
.filterContainer {
	width: 100%;
}
.filterGrid {
	list-style: none;
	margin: 0 auto;
	text-align: center;
	width: 100%;padding:0;
}

.filterGrid .name{
	font-family: "Times New Roman", Times, serif;
	text-transform:uppercase;
	font-size:1.2rem;
	color:#231f20;
	font-style:italic;
	font-weight:bold;
	margin-bottom:3px;
	margin-top:15px;
}
.filterGrid .type{
	font-family:'gotham_mediumregular', sans-serif;
	font-size:1rem;
	color:#231f20;
	font-size:1.2rem;
	margin-bottom:3px;
}
.filterGrid .no{
	font-family:'gotham_boldregular', sans-serif;
	font-size:1rem;
	color:#231f20;
	text-transform:lowercasee;
	margin-bottom:3px;
}
.filterGrid .no span{
	font-family:'gotham_lightregular', sans-serif;
	font-size:1rem;
	color:#231f20;
	text-transform:uppercase;
	margin-bottom:3px;
}
.filterGrid .view{
	font-family:'gotham_boldregular', sans-serif;
	font-style:italic;
	font-size:0.9rem;
	text-transform:lowercasee;
	color:#f48d78;
	letter-spacing:3px;
	margin-bottom:5px;
}
.filterGrid ul{
	text-decoration:none;
}
.filterGrid li{
	list-style:none;
	display: inline-block;
	margin:20px 0;
	vertical-align: top;
	width: 23%;
}

.filterGrid img {
	max-width: 100%;
	height: auto;
}

/*--------------- detail -----------------*/
.gallcontainer{
	width:100%;
	position:relative;
	}
/*--------------- leftinfo -----------------*/
.detailcolleft{
	float:left;
	width:49%;
	text-align:left;
	color:#27313f;
	clear:left;
	overflow:hidden;
	position:relative;
	}
.detailcolleft .motto{
	/*
	font-family:'gotham_boldregular', sans-serif;
	font-size:1rem;
	*/
	font-family: 'Yaquote Script Personal Use',sans-serif;;
	font-size: 29px;
	color:#000;
	letter-spacing:1px;
	margin-bottom:20px;
	text-align:center;
	}
.detailcolleft .motto:before{
	content:open-quote;
}
.detailcolleft .motto:after{
	content:close-quote;
}
.detailcolleft .motto:before,.detailcolleft .motto:after{
	font-size: 67px;
	padding-left: 5px;
	padding-right: 5px;
}
.detailcolleft .head{
	font-family:'gotham_boldregular', sans-serif;
	/*font-size:1rem;*/
	font-size: 19px;
	color:#000;
	letter-spacing:2px;
	margin-bottom:5px;
	}
.detailcolleft p{
	font-family:'gotham_mediumregular', sans-serif;
	font-size:0.8rem;
	color:#000;
	margin-bottom:20px;
	line-height:18px
}

.detailcolleft .price{
	font-family:'gotham_lightregular', sans-serif;
	font-style:italic;
	font-size:1rem;
	color:#666;
	margin:30px 0;
}
.detailcolleft .prod{
	width:100%;
	margin:20px 0;
}
/*--------------- rightinfo -----------------*/
.detailcolright{
	float:right;
	width:40%;
	color:#27313f;
	clear:right;
	overflow:hidden;
	}
.detailcolright .colorbox{
	width:100%;
	border-top:1px #ccc solid;
	color:#000;
	font-size:0.7rem;
	padding:20px 0;
	font-family:'gotham_boldregular', sans-serif;
	}
.detailcolright .colorbox2{
	text-align:center;
	width:100%;
	padding:20px 0;
	}
.detailcolright .colorbox .items{
	display:inline-block;
	margin:0 10px;
	padding:10px
	}

.detailcolright .colorbox img{
	margin:0 10px;
	}
.detailcolright .colorbox2{
	text-align:center;
	width:100%;
	padding:20px 0;
	}
.detailcolright .colorbox2 .items{
	display:inline-block;
	margin:0 10px;
	padding:10px
	}
.detailcolright .colorbox2 img{
	margin:0 20px;
	zoom:120%;
	}
.detailcolright table{
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	padding:0;
	width:100%;
	margin:0
	}
.detailcolright td{
	padding:10px 0;
	width:33.33333%;
	text-align:center;
	zoom:80%;
	border-right:1px solid #CCC;
	}
.detailcolright td:last-child{
	border-right:none;

}
.amout{zoom:150%;}
.selectst {
	border:none !important;
	background:#f3f3f5 !important;
	margin-right:2px;
	font-family:'gotham_mediumregular', sans-serif;
	font-size:0.8rem;
	padding:2px 4px;
	top:2px !important;
	height:20px;
	position:relative;
}
@media (max-width : 1440px){ }
@media (max-width : 1360px){ }
@media (max-width : 1280px){ }
@media (max-width : 1024px){ }
@media (max-width : 920px) {
#cont {
	margin: 68% auto 0 auto;
	}
.collcolumn{
	width: 96%;
	float:none;
	margin: 0 auto;
	}
.collcolumn2{
	float:none;
	margin: 0 auto;
	width:96%;
	}
.collcolumn2 .imgcol{
	float:left;
	width:46%;
	margin:0 0 8px 8px;
}
.centered{
	width:90%;
	margin:5px auto !important;
	}
select {
	width:100%;
	font-size:14px;
	font-family:'gotham_boldregular', sans-serif;
}
.selectst {
	margin-bottom:4px;
}
/*--------------- 	grid   -----------------*/
.filterGrid li{
	width:100%;
}
/*--------------- rightinfo -----------------*/
.detailcolright{
	position:relative;
	float:none !important;
	width:100%;
	color:#27313f;
	clear: both;
	overflow:hidden;
	}
/*--------------- leftinfo -----------------*/
.detailcolleft{
	float:none !important;
	text-align:left;
	color:#27313f;
	width:90%;
	margin:0 auto;
	}
.amout{zoom:100%; width:100%}
	}